
[project]
name = "orq-ai-sdk"
version = "3.12.0-rc.21"
description = "Python Client SDK for the Orq API."
authors = [{ name = "Orq" },]
readme = "README-PYPI.md"
requires-python = ">=3.9.2"
dependencies = [
    "httpcore >=1.0.9",
    "httpx >=0.28.1",
    "pydantic >=2.11.2",
    "requests ==2.32.4",
]

[tool.poetry]
repository = "https://github.com/orq-ai/orq-python.git"
packages = [
    { include = "orq_ai_sdk", from = "src" }
]
include = ["py.typed", "src/orq_ai_sdk/py.typed"]

[tool.setuptools.package-data]
"*" = ["py.typed", "src/orq_ai_sdk/py.typed"]

[virtualenvs]
in-project = true

[tool.poetry.group.dev.dependencies]
mypy = "==1.15.0"
opentelemetry-api = "^1.20.0"
opentelemetry-sdk = "^1.20.0"
pylint = "==3.2.3"
types-requests = "^2.32.4.20250809"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
asyncio_default_fixture_loop_scope = "function"
asyncio_mode = "auto"
pythonpath = ["src"]

[tool.mypy]
disable_error_code = "misc"
explicit_package_bases = true
mypy_path = "src"

[[tool.mypy.overrides]]
module = "typing_inspect"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "jsonpath"
ignore_missing_imports = true

[tool.pyright]
venvPath = "."
venv = ".venv"


