[project]
name = "orq-ai-sdk"
version = "4.3.0-rc.38"
description = "Python Client SDK for the Orq API."
authors = [{ name = "Orq" },]
readme = "README-PYPI.md"
requires-python = ">=3.10"
dependencies = [
    "httpcore >=1.0.9",
    "httpx >=0.28.1",
    "pydantic >=2.11.2",
    "requests ==2.32.4",
]
urls.repository = "https://github.com/orq-ai/orq-python.git"

[dependency-groups]
dev = [
    "mypy ==1.15.0",
    "openai-agents ==0.4.0",
    "opentelemetry-api (>=1.20.0,<2.0.0)",
    "opentelemetry-instrumentation ==0.59b0",
    "opentelemetry-sdk (>=1.20.0,<2.0.0)",
    "pylint ==3.2.3",
    "pyright ==1.1.398",
    "types-requests (>=2.32.4,<3.0.0)",
]

[tool.setuptools.packages.find]
where = ["src"]

[tool.setuptools.package-data]
"*" = ["py.typed"]

[build-system]
requires = ["setuptools>=80", "wheel"]
build-backend = "setuptools.build_meta"

[tool.pytest.ini_options]
asyncio_default_fixture_loop_scope = "function"
pythonpath = ["src"]

[tool.mypy]
disable_error_code = "misc"
explicit_package_bases = true
mypy_path = "src"

[[tool.mypy.overrides]]
module = "typing_inspect"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "jsonpath"
ignore_missing_imports = true

[tool.pyright]
venvPath = "."
venv = ".venv"


