name: '[Pre-release] Generate'

on:
  push:
    branches:
      - main
    paths:
    - 'packages/orq-rc/.speakeasy/gen.yaml'
    - 'packages/orq-rc/src/orq_ai_sdk/langchain/**/*'
    - 'packages/orq-rc/src/orq_ai_sdk/llamaindex/**/*'
  workflow_dispatch:
    inputs:
      force:
        description: "Force the generation of the SDKs"
        default: "false"
        required: false
        type: string

jobs:
  publish:
    uses: ./.github/workflows/sdk_generation.yml
    name: Runner
    secrets: inherit
    with:
      target: orq-ai-sdk-prerelease-python
      force: ${{ inputs.force }}